{{response.files.append(URL('static','css/backpos.css'))}}
{{response.files.append(URL('static','highlight/highlight.pack.js'))}}
{{response.files.append(URL('static','highlight/styles/default.css'))}}
{{extend 'layout.html'}}
<br/><br/>
<script>hljs.initHighlightingOnLoad();</script>
<h3>Page preview :</h3>
<a href="{{=html}}" target="_blank">Here</a>
<br/>
<br/>
<h3>Image rendered (click) :</h3>
<br/>
  <a href="{{=url}}" target="_blank"><img src="{{=preview}}"></img></a>
<br/><br/>
<h3>In the page header add :</h3>
<pre>
  <code class="html">
    {{=css_tag}}
  </code>
</pre>

<h3>And replace actual images tags by these :</h3>
<pre>
  <code class="html">
    {{for j in range(0,len(data),2):}}
      {{=data[j]}}{{j += 1}}
      {{=data[j]}}
    {{pass}}
  </code>
</pre>

<!--<a href="{{=URL('download')}}/rendered.png">asdsad</a>-->


