
/*
 * Modal
 *
 */

/* Z-index of #mask must lower than #boxes .window */
#mask {  
  position:absolute;  
  z-index:9000;  
  background-color:#000;  
  width : 100%;
  height : 100%;
  //opacity : 0.9;
  display : none;
}  
    
#boxes .window {  
  position:absolute;  
  width:440px;  
  height:200px;  
  display:none;  
  z-index:9999;  
  padding:20px;  
}  
  
  
/* Customize your modal window here, you can add background image too */  
#boxes #dialog {  
  width:375px;   
  height:203px;  
}  


.hidden{
    display : none;
}


#custom-menu {
    list-style-type:none;
    z-index:12;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid black;
    padding: 3px;
    font-size : 1em;
}

#custom-menu li{
    padding : 0.7px;
}

#custom-menu li:hover{
   background-color : white;
}

/* Box right click */

.add-icon-box{
    position : absolute;
    top : 50%;
    left : 50%;
    width : 320px;
    height : 155px;
    margin-top : -100px;
    margin-left : -160px;

    padding : 10px;
    z-index : 9999;
    background-color : white;

    -moz-border-radius: 15px;
    border-radius: 15px;

}

.add-icon-box input{
    width : 310px;
}

/*
 *
 * Note log
 *
 */
.book-gold{
    position : absolute;
    top :  90px;
    right : 0%;
    width : 210px;
    height : 350px;
    color : white;
    font-size : 12px;
    overflow-y:scroll;

    padding-top :9px;
    padding-left : 9px;
    background-color : #444;

    -moz-border-radius: 10px;
    border-radius: 10px;

    font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    line-height : 110%
}

.book-gold-content{
    list-style-type:none;
    display:inline;
}

.book-gold-content li{
    width : 175px;    
    padding : 5px;
    border : 1px solid #333;
    margin-bottom : 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*
 * Vote log
 *
 */

#header-log{
    display: none;
    position : absolute;
    top : 320px;
    right : 20px;

    font-weight : bold;

    color : white;
    padding-top : 4px;
    padding-left : 2px;
    text-align : center;
    background-color : #444;
    width : 170px;
    height : 18px;
    z-index : 3;

    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;



    border : 1px solid #333;
}

.vote-log{
    opacity : 0.9;
    position : absolute;
    top :  400px;
    right : 0%;
    width : 200px;
    height : 230px;
    color : white;
    font-size : 12px;
    overflow-y:scroll;

    padding-top :9px;
    padding-left : 9px;
    background-color : #444;

    -moz-border-radius: 10px;
    border-radius: 10px;
    font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    line-height : 110%
}

.vote-log-content{
    list-style-type:none;
    display:inline;
}

.vote-log-content li{
    min-height : 33px;
    width : 175px;    
    padding : 5px;
    margin-bottom : 5px;
    border : 1px solid #333;

    -moz-border-radius: 5px;
    border-radius: 5px;
}

.vote-panel{
    width : 17px;
    height : 33px;
    float : left;
    text-align : center;
}

.content-panel{
    width : 145px;
    float : right;
}

#vote-up{
    background-image : url(../vote-up.png);
    width : 17px;
    height : 10px;
    display : block;
}

#vote-down{
    background-image : url(../vote-down.png);
    width : 17px;
    height : 10px;
    display : block;
}

#vote-up:hover, #vote-down:hover{
    opacity : 0.3;
}

.vote-nb{
    font-weight : bold;
}

#wrong-vote{
    display:none;
    position : absolute;
    top : 50px;
    right : 0%;
    color : white;
    width : 219px;
    text-align : center;
    height : 20px;
    padding-top : 5px;
    background-color : #444;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-weight : bold;
}

/*
 *
 *
 */

.date{
    margin-top: 3px;
    color : black;
    font-size : 10px;
}


/*
 *
 *
 */
.min-control-panel{
    position : absolute;
    opacity : 0.9;
    top :  70px;
    right : 0%;
    width : 200px;
    font-weight : bold;
    color : white;
    //overflow-y:scroll;
}


.min-c-p-content{
    list-style-type:none;
    display:inline;
}

#min-c-sep{
    color : black;
    background-color : white;
    text-align : center;
    border : 1px solid white;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#min-c-sep:hover{
    opacity:1;
}

.min-c-p-content a{
    text-decoration : none;
    color : white;
}

.min-c-p-content img{
    float : left;
    height : 15px;
    margin-right : 5px;
}

.min-c-p-content li{
    width : 165px;    
    padding : 5px;
    background : #444;
    margin : 10px;
    border : 1px solid #444;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.min-c-p-content li:hover{
    opacity : 0.5;
}

/*
 *
 * right click icon
 *
 */

.spe-right-click{
    opacity : 0;
    position : absolute;
    width : 100px;
    height : 100px;
    background: url(../static/circle.png);
}


/*
 *
 * Search form (public desktops)
 *
 */

.search-form-public{
    text-align : center;
    position : absolute;
    top : 60%;
    left : 50%;
    margin-left : -150px;
}


/*
 *
 * Settings box
 *
 */

.user-settings-box{
    position : absolute;
    top : 50%;
    left : 50%;
    width : 600px;
    height : 250px;
    margin-top : -125px;
    margin-left : -300px;

    padding : 10px;
    z-index : 9999;
    background-color : white;   


-moz-border-radius: 15px;
    border-radius: 15px;
}

/*
 * public skytoop info
 *
 */

#public-skytoop-infos{
    position : absolute;
    bottom : 2%;
    right : 1%;
    width : 400px;
    height : 25px;
    padding : 5px;

    color : white;
    font-weight : bold;
    background-color : #444;
    opacity : 0.8;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding : 10px;
}


/*
 *
 * beta version displaying
 *
 */

#bottom-left{
position : absolute;
bottom : 2%;
left : 1%;
height : 100px;
width : 300px;
}

#beta-version{
    position : absolute;
    bottom : 2%;
    left : 0.5%;
    line-height : 1.25;
    font-size : 14px;
    text-align : left;
    color : white;
}

#donate{
    position : absolute;
    bottom : 2%;
    right : 0.5%;
}
/*
 *
 * Copyright
 *
 */

.skytoop-copyright{
    position : absolute;
    bottom : 1%;
    left : 0.5%;
    font-size : 10px;
    color : black;
}

/*
 * 
 * Notification manager
 *
 */

#notify-man{
    display : none;
    position : absolute;
    z-index : 25;

    top : 8%;
    height : 16px;
    color : white;
    padding : 18px;
    font-size : 13px;
    font-weight : bold;
    background-color : #444;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*
 *
 * Suggestion box search
 *
 *
 */

#search-desktops{

}

#suggestions { 
    position : absolute;
    width : 270px;
    z-index : 30;
}

.suggestions {
    max-height : 400px;
    overflow-y : auto;
    background: #444;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    text-align : left;
}

.suggestions DIV { 
    padding : 3px;
    padding-bottom: 5px; 
}

#s-u-u:hover { 
    background-color : #cfcfcf;
}

#remarks-admin{
    position : absolute;
    bottom : 4%;
    right : 1%;
    color : white;
    opacity : 0.9;
    background-color : #444;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding : 5px 10px 10px 10px;
}

