
<style>
#beta-version-right{
    position : absolute;
    bottom : 1%;
    right : 0.5%;
    line-height : 1.25;
    font-size : 14px;
    text-align : left;
    color : white;
}
</style>

<div id="beta-version-right">
  Skytoop - Omega version - v.Ω-75<br/>
  <div style="color : black">built by <a target="_blank" style="text-decoration : none; color : black;font-weight : bold;" href="http://blog.hemca.com/?page_id=2">Strzelewicz Alexandre</a></div>
</div>


<div class="skytoop-copyright" >
<a style="text-decoration : none; color : black;" href="{{=URL('get_list', 'index')}}">Skytoop © 2011</a>
</div>
